<a href="https://colab.research.google.com/github/CharmStrange/CoLab_data/blob/main/ipynbs/DataBase/CustomDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Custom Database

In [ ]:
import os
import datetime as dt
import ctypes as ct
import numpy as np
import sqlite3

class Struct(ct.Structure):
    # fields are customizable
    _fields_ = [
        ('Header', ct.c_short),
        ('Data_int', ct.c_int),
        ('Data_double', ct.c_double)
               ]

    def __init__(self):
        pass

    def __del__(self):
        pass

    def push(self, Header, Data_int, Data_double):
        self.Header = Header
        self.Data_int = Data_int
        self.Data_double = Data_double

class TitanVault:

    def __init__(self, DataBaseName):
        self.DataBaseName = DataBaseName
        self.CreatedDate = dt.datetime.now()
        self.Base = []

    def __del__(self):
        pass

    def newStruct(self):
        self.Structure = Struct()
        self.Base.append(self.Structure)
        return self.Structure

    def pop(self, index):
        del self.Base[index]

class Cursor:

    db = 0
    dbs = []

    @classmethod
    def About(cls):
        print(f"Database(s) in database list : {len(cls.dbs)}")

        for database in cls.dbs:
            print(f"All database(s) : {database}")

    """

    | Document |

    01. Create a new database.
    >>>

    02. Utilize it.
    >>>

    """

    def __init__(self, Name, cnt=1):
        for i in range(cnt):
            self.db += 1
            titanvault = TitanVault(Name)
            self.dbs.append(titanvault)
            print(f"Created new database(s) | {titanvault} | Database can be controled by methods.\n")
        print(f"Created database(s) : {self.db} | Length of database list : {len(self.dbs)}")

    def __del__(self):
        pass

    def information(self):
        index = 0

        for element in self.dbs:
            print(f"Informations of each database :\nDatabse list index [{index}] | Database name : {element.DataBaseName} | Created date : {element.CreatedDate}")
            index+=1

    def insert(self, index, header, data_int, data_double):
        new_Struct = self.dbs[index].newStruct()
        print(type(new_Struct))
        new_Struct.push(header, data_int, data_double)
        return new_Struct

    def pop(self, index):
        del self.dbs[index]
        print("Successfully deleted.")

In [ ]:
Titan1 = TitanVault('titan1')
Titan1.DataBaseName
Titan1.CreatedDate
Titan1.newStruct()
Titan1.Base[0].push(10, 64, 0.5)

print(len(Titan1.Base))

Titan1.newStruct()
Titan1.Base[1].push(20, 128, 1.0)

print(len(Titan1.Base))

# Checking each Struct
#Titan1.Base[0].Header; Titan1.Base[0].Data_int; Titan1.Base[0].Data_double
#Titan1.Base[1].Header; Titan1.Base[1].Data_int; Titan1.Base[1].Data_double

Titan1.pop(0)
print(len(Titan1.Base))

1
2
1

In [ ]:
Titan2 = TitanVault('titan2')
Titan2.DataBaseName
Titan2.CreatedDate
Titan2.newStruct()
Titan2.Base[0].push(5, 32, 0.25)

print(len(Titan2.Base))

Titan2.newStruct()
Titan2.Base[1].push(2, 16, 0.12)

print(len(Titan2.Base))

# Checking each Struct
#Titan2.Base[0].Header; Titan2.Base[0].Data_int; Titan2.Base[0].Data_double
#Titan2.Base[1].Header; Titan2.Base[1].Data_int; Titan2.Base[1].Data_double

Titan2.pop(0)
print(len(Titan2.Base))

1
2
1

In [ ]:
test1 = Cursor('titan1')
test1.information()
test1.insert(0, 1, 2, 3.14)

Created new database(s) | <__main__.TitanVault object at 0x7f0354417370> | Database can be controled by methods.

Created database(s) : 1 | Length of database list : 1
Informations of each database :
Databse list index [0] | Database name : titan1 | Created date : 2023-11-29 06:07:32.922552
<class '__main__.Struct'>

In [ ]:
test2 = Cursor('titan2')
test2.information()
test2.insert(1, 2, 3, 4.25)

Created new database(s) | <__main__.TitanVault object at 0x7f0354415d20> | Database can be controled by methods.

Created database(s) : 1 | Length of database list : 2
Informations of each database :
Databse list index [0] | Database name : titan1 | Created date : 2023-11-29 06:07:32.922552
Informations of each database :
Databse list index [1] | Database name : titan2 | Created date : 2023-11-29 06:07:32.937392
<class '__main__.Struct'>

In [ ]:
test3 = Cursor('titan3')
test3.About()
test3.pop(0)
test3.About()

Created new database(s) | <__main__.TitanVault object at 0x7f0354417cd0> | Database can be controled by methods.

Created database(s) : 1 | Length of database list : 3
Database(s) in database list : 3
All database(s) : <__main__.TitanVault object at 0x7f0354417370>
All database(s) : <__main__.TitanVault object at 0x7f0354415d20>
All database(s) : <__main__.TitanVault object at 0x7f0354417cd0>
Successfully deleted.
Database(s) in database list : 2
All database(s) : <__main__.TitanVault object at 0x7f0354415d20>
All database(s) : <__main__.TitanVault object at 0x7f0354417cd0>