<a href="https://colab.research.google.com/github/CharmStrange/CoLab_data/blob/main/ipynb-majoring/DS/CollectingData_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BeautifulSoup

In [1]:
from bs4 import BeautifulSoup
import requests

### HTML 코드를 BeautifulSoup 객체로 사용

In [2]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

In [4]:
soup = BeautifulSoup(html, 'html5lib')
print(soup, '\n')
print(soup.prettify())

<!DOCTYPE html>
<html><head><title>Page Title</title></head><body><h3><b id="boldest">Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

In [11]:
# HTML 태그 추출

tag_object1 = soup.title
print(f'tag object:{tag_object1}')

tag_object2 = soup.h3
print(f'tag object:{tag_object2}')

tag_child = tag_object2.b
print(tag_child)

tag_parent = tag_child.parent
print(tag_parent)

print(tag_object2.parent)

sibling1 = tag_object2.next_sibling
print(sibling1)

sibling2 = sibling1.next_sibling
print(sibling2)

sibling3 = sibling2.next_sibling
print(sibling3)

tag object:<title>Page Title</title>
tag object:<h3><b id="boldest">Lebron James</b></h3>
<b id="boldest">Lebron James</b>
<h3><b id="boldest">Lebron James</b></h3>
<body><h3><b id="boldest">Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p>

In [13]:
# 태그 속성

print(tag_child['id'])
print(tag_child.attrs)
print(tag_child.get('id'))

boldest
{'id': 'boldest'}
boldest

In [16]:
tag_str = tag_child.string
print(tag_str, type(tag_str)) # bs4.element.NavigableString
str(tag_str) # bs4.element.NavigableString -> string

Lebron James <class 'bs4.element.NavigableString'>

'Lebron James'

---

### HTML - table 코드를 BeautifulSoup 객체로 사용

In [17]:
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

In [ ]:
table_bs = BeautifulSoup(table, 'html5lib')
print(table_bs.prettify())

BeautifulSoup 객체의 메소드 `find_all(name, attrs, recursive, string, limit, **kwargs)`의 매개 변수 알아보기

In [22]:
# Filter

table_rows = table_bs.find_all(name='tr') # name : <tr> tag, tolist!
for i, row in enumerate(table_rows) :
    print(f"{i} : {row}")

print( table_bs.find_all(id='flight') ) # attrs : <id> tag
print( table_bs.find_all(href=True) ) # attrs : <href> tag

print( table_bs.find_all(string='Florida') ) # string : 'Florida'

0 : <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
1 : <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>
2 : <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
3 : <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>
[<td id="flight">Flight No</td>]
[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>, <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>, <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]